<html>
<head>
    <title>BurakKUTBAY.com Spring Örnek Uygulama</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Giriş Yapıldı. Hoşgeldiniz.</h2>
    <a href="/logout" class="btn btn-danger">Çıkış Yapın</a>
</div>
</body>
</html>